<div id="footer" class="container-fluid bg-dark-gray">
  <h2>Connect with me</h2>
  <div id="section-links" class="container">
    <!-- TODO correct the links -->
    <a href="https://www.youtube.com/user/PlayNadirOK/"><img src="../pics/icons/youtube.png" alt="YouTube"></a>
    <a href="https://twitter.com/rAreNexx"><img src="../pics/icons/twitter.png" alt="Twitter"></a>
    <a href="https://www.instagram.com/rarenexx/"><img src="../pics/icons/instagram.png" alt="Instagram"></a>
    <a href="https://github.com/rAreNex"><img src="../pics/icons/github.png" alt="GitHub"></a>
    <a href="https://www.linkedin.com/in/nadir-abdullayev-9b5a7016b/"><img src="../pics/icons/linkedin.png" alt="LinkedIn"></a>
    <a href="#"><img src="../pics/icons/email.png" alt="Email"></a>
  </div>
  <a href="javascript:" id="go-up-arrow"><img src="../pics/icons/arrowUp.png" alt="Go up"></a>
  <h7>&copy; 2018 Nadir Abdullayev (rAreNex)<br>Made by me − inpired by many</h7>
</div>
