<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>rAreNex</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/nav.css">
    {{{ includes }}}
  </head>
  <body>
    <!-- {{> nav}} -->

    {{{ body }}}

    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.bundle.min.js"></script>

    {{{ scripts }}}
  </body>
</html>
