{{{ homeBg }}}
  <div id="home-fg">
    <h1>Nadir Abdullayev</h1>
    <h3>a self-taught programmer and hobbyist</h3>
  </div>
</div>
<div id="about-me" class="container-fluid row">
  <div class="col-md-4">
    <img id="photo-of-me" src="../pics/photoOfMe3.jpg">
    <img id="photo-of-me-bg" src="../pics/code-1.png">
  </div>
  <div id="info-about-me" class="col-md-8">
    <p>
      Hi, my name is Nadir and I'm a self-taught programmer and hobbyist. Over a decade ago I discovered the world of computer programming and got instantly captivated.<br>
      <br>
      Since then I've been programming in many different programming languages and creating my own independent projects. I've created this website to share my content and experiences with you, as well as to connect with like-minded people.
    </p>
  </div>
</div>
<div id="games" class="container-fluid bg-dark-gray section">
  <h1>Video Games</h1>
  <div id="games-info" class="container">
    <div class="row">
      <div class="col-4">
        <img src="../pics/scb.png" alt="Superb Cubio Bros">
        <p>
          This is my 1st game in Unity. It was just the 1st level of Super Mario Bros with cube graphics because of which I called it Superb Cubio Bros
        </p>
      </div>
      <div class="col-8">
        <p>
          The entrance to programming for me were video games. I've been playing games since I was 3 and at age of 11 I started wondering how to make them. I wasn't consistent (discovered Minecraft at that time) but after some time (years) I discovered Unity Engine and started learning C# (and a bit of JS) which was the first programming language for me to actually get proficient in.
        </p>
      </div>
    </div>
  </div>
  <div id="games-showcase" class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="../pics/logos/ponglogo.png" alt="Pong">
        <h5>Pong</h5>
      </div>
      <div class="col-md-4">
        <img src="../pics/logos/up&uplogo.png" alt="Up&Up">
        <h5>Up&Up</h5>
      </div>
      <div class="col-md-4">
        <img src="../pics/logos/snakelogo.png" alt="Snake">
        <h5>Snake</h5>
      </div>
    </div>
  </div>
</div>
<div id="software" class="container-fluid section">
  <h1>Software</h1>
  <div id="software-info" class="container">
    <p>
      While I was learning C# to start creating games I made my first ever program and called it WSD which means WindowsShutDowner. Pretty self-evident of its function.<br>
      Also, when I was learning Java, before I started creating games, I picked up an interesting and at the time "impossible" project, a local chat app. At least it seemed like that.
    </p>
  </div>
  <div id="software-showcase" class="container">
    <div class="row">
      <div class="col-md-6">
        <div>
          <div>
            <img src="../pics/nextexchat.png" alt="NexTex">
            <p>
              This is my first GUI program written in Java using Swing
            </p>
          </div>
          <h5>NexTex</h5>
        </div>
      </div>
      <div class="col-md-6">
        <div>
          <div>
            <img src="../pics/wsd.png" alt="WSD">
            <p>
              And this is WSD, my first GUI program in C#
            </p>
          </div>
          <h5>WSD</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="blog" class="container-fluid bg-dark-gray section">
  <div class="container">
    <h1>Blog</h1>
    <p style="text-align: center; font-size: 20px; margin: 0; padding: 0;">Coming Soon!</p>
  </div>
</div>
<div id="summary" class="container-fluid section">
  <div id="summary-info" class="container">
    <h1>Summary</h1>
    <div class="row">
      <div class="col-md-4">
        <h3>C#</h3>
        <p>
          Working since 2015, made 4 games in Unity (1 mobile) and a program using Windows Forms
        </p>
      </div>
      <div class="col-md-4">
          <img src="../pics/JavaCSharp.png" alt="Java\C#">
      </div>
      <div class="col-md-4">
        <h3>Java</h3>
        <p>
          Working since 2017, made 2 games using LibGDX framework and a local chat app using Swing
        </p>
      </div>
      <div class="w-100"></div>
      <div class="col-md-8">
        <h3>Web</h3>
        <p>
          Always had a thing for it but started working in 2018, created a simple web app as a practice using technologies and languages such as HTML, CSS, JS, jQuery, Bootstrap, Node.js, Express, MongoDB, AJAX, JSON, also Postman and Git.<br>The second web project is this personal website of mine
        </p>
      </div>
      <div class="col-md-4">
        <h3>Also...</h3>
        <p>
        	Studied bash and C at university where I am a second-year student
        </p>
      </div>
    </div>
  </div>
</div>
