{{{ homeBg }}}
  <div id="home-fg">
    <h1 style="margin: 0;">Nadir Abdullayev</h1>
  </div>
</div>
<div class="container-fluid">
  <div id="section-about" class="container">
    <div class="row">
      <div class="col-md-4">
        <image id="photo-of-me" src="../pics/photoOfMe.jpg">
      </div>
      <div class="col-md-8">
        <p id="info-about-me">
          Welcome! My name is Nadir Abdullayev and I'm a self-taught programmer and hobbyist. Over a decade ago I met programming and instantly got captivated. The first entrance point for me were video games. When I was about 11 years old I got interested in how they're made and started digging internet to learn that info. I got to know Unity and started learned C#, created 4 small games and then I got interested in creating games in Java. So, I started learning Java and it went well as C# and Java are alike. Some of my creations (the complete ones) you can find in my website.<br>This is my first website created by me from scratch and you know what? It wasn't hard at all. About 2 months of learning to program on web and one practical project (COM, which you can also find in this website) and here I am, creating my own website. I created it to share here my content and interests, as well as to connect with like minded individuals. (scraped it off but good enough for now)
        </p>
      </div>
    </div>
  </div>
</div>
<div id="sections" class="container-fluid bg-dark-gray">
  <div id="section-work" class="container row">
    <!-- TODO make it autofill from db -->
    <div id="work-software" class="col-4">
      <h1>Software</h1>
      <a href="#">
        <img class="work-img" src="../pics/NTLogo2m.png" alt="NexTex">
        <h5>NexTex</h5>
      </a>
      <a href="#">
        <img class="work-img" src="../pics/TIRIV3LOGO.png" alt="TIRIV3">
        <h5>TIRIV3</h5>
      </a>
      <a href="#">
        <img class="work-img" src="../pics/WSDLogo1.png" alt="WSD">
        <h5>WSD</h5>
      </a>
    </div>
    <div id="work-games" class="col-4">
      <h1>Games</h1>
      <a href="#">
        <img class="work-img" src="../pics/snakelogo.png" alt="Snake">
        <h5>Snake</h5>
      </a>
      <a href="#">
        <img class="work-img" src="../pics/Up&UpSx2.png" alt="Up&Up">
        <h5>Up&Up</h5>
      </a>
      <a href="#">
        <img class="work-img" src="../pics/ponglogo.png" alt="Pong">
        <h5>Pong</h5>
      </a>
    </div>
    <div id="work-youtube" class="col-4">
      <h1>YouTube</h1>
      <h5>Coming Soon!</h5>
    </div>
  </div>
</div>
<div id="section-blog" class="container">
  <h1>Blog</h1>
</div>
<div class="container-fluid bg-dark-gray">
  <div id="section-links" class="container">
    <!-- TODO correct the links -->
    <a href="https://www.youtube.com/user/PlayNadirOK/"><img src="../pics/icons/youtube.png" alt="YouTube"></a>
    <a href="https://twitter.com/rAreNexx"><img src="../pics/icons/twitter.png" alt="Twitter"></a>
    <a href="https://www.instagram.com/rarenexx/"><img src="../pics/icons/instagram.png" alt="Instagram"></a>
    <a href="https://github.com/rAreNex"><img src="../pics/icons/github.png" alt="GitHub"></a>
    <a href="https://www.linkedin.com/in/nadir-abdullayev-9b5a7016b/"><img src="../pics/icons/linkedin.png" alt="LinkedIn"></a>
    <a href="#"><img src="../pics/icons/email.png" alt="Email"></a>
    <h5>Email me with any ideas, suggestions, or anything you want!<br>nexusgeniuz@gmail.com</h5>
  </div>
</div>
<div id="footer" class="container-fluid bg-dark-gray">
  <a href="javascript:" id="go-up-arrow"><img src="../pics/icons/arrowUp.png" alt="Go up"></a>
  <h7>&copy; 2018 Nadir Abdullayev (rAreNex)<br>MIT License</h7>
</div>
